body {
    font-family: "Avenir Next";
  }
  
  li {
    list-style: none;
  }
  
  .header {
    background-color: #1e90ff;
    color: #fff;
    height: 90px;
  }
  
  .header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
  }
  
  .header-list li {
    float: left;
    padding: 33px 20px;
  }
  
  .main {
    padding: 100px 80px;
  }
  
  .info h1 {
    font-size: 50px;
  }
  
  .info h2 {
    font-size: 40px;
    margin-left: 20px;
  }

  .info li {
    font-size: 30px;
  } 
  
  .contents {
    height: 500px;
    margin-top: 100px;
  }
  
  .section-title {
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
  }
