body {
    font-family: "Avenir Next";
  }
  
  li {
    list-style: none;
  }
  
  .header {
    background-color: #1e90ff;
    color: #fff;
    height: 90px;
  }
  
  .header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
  }
  
  .header-list li {
    float: left;
    padding: 33px 20px;
  }
  
  .main {
    padding: 30px 80px;
  }

  .section-title {
    border-bottom: 2px solid #a9a9a9;
    font-size: 28px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .info h2 {
    font-size: 20px;
  }

  .info li {
    font-size: 15px;
  } 

  .history {
    margin-top: 10px;
  }

  .history li {
    font-size: 15px;
  } 

  .hobby li {
    font-size: 15px;
  } 


  

